
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Ethiopic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic:wght@100..900&display=swap');
@import "tailwindcss";
@theme{
    --font-display:"Noto Sans Ethiopic", sans-serif;
    --font-notosans:'Noto Sans Display", sans-serif';
    --font-roboto: "Roboto", sans-serif;
}